*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

header{
    background-color: #2a60e8;
    color: white;
    font-size: 15px; 
}

.menu{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 200;
}

#main-nav{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    padding: 20px;
    font-size: 18px;
}

button{
    background-color: white;
    color: black;
    border-radius: 35px;
    border-color: rgba(240, 248, 255, 0);
    padding: 5px 20px;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3%;
    padding: 5% 0;
    font-size: 14px;
    line-height: 25px;
}

.container2{
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
}

section{
    padding: 0 20%;
}

#bigbox{
    display: flex;
    width: 65%;
    background-color: #65bcfb;
    padding: 0 3%;
    padding-top: 3%;
    border-radius: 20px;
    margin-bottom: 3%;
    gap: 30px;
}
#bigbox img {
    max-width:40%;
}

#bigbox button{
    background-color: #0062ff;
    color: white;
    font-weight: italic;
    font-size: 15px;
    margin-top: 20px;
}

.box i{
    font-size: 70px;
}

.box h2, #bigbox h2{
    padding: 15px 0;
    font-size: 18px;
    color: #0062ff;
}

.box, #bigbox p{
        color:rgb(62, 62, 62);
        font-weight: bold;
}



.box{
    width: 30%;
    background-color: #65bcfb;
    border-radius: 20px;
    margin-bottom: 3%;
    padding: 3%;
    text-align: center;
}


.vcolor{
    background-color: blueviolet;
}

.sbox1, .sbox1 img{
    width: 60%;
}
s
.sbox2, .sbox2 img{
    width: 40%;
}

section ul{
    list-style: none;
}

.lst img{
        width: 10%;    
}

.lst li{
    display: flex;
    justify-content: space-between;
}


.sbox2{
    padding-top: 20%;
}


.content3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;

}


.box3 {
    width: calc(100%/3);
}

.container4{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}


.box5{
    width: 70%;
}

.box6{
    width: 20%;
}
.box6 img{
    width: 70%;
}

#free {
    text-align: center;
}

footer{
    background-color: black;
    text-align: center;
}